.card {
    &_product {
		box-shadow: $card-product-box-shadow;
        cursor: pointer;
        &:hover,
        &:focus {
            text-decoration: none;

            .card-body {
                &_product {
                    background-color: $primary-hover;
                }
            }

            .card-img {
                &_product {
                    opacity: $opacity-hover;
                    img {
                    	transform: $scale-hover;
                    }
                }
            }
        }
        &_big {
            cursor: default;
        }
    }
}

.card-img {
    &_product {
        background-color: white;
    	overflow: hidden;
        transition: $animation-time-lg;
        img {
            transition: $animation-time-lg;
        }
    }
}

.card-body {
    &_product {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: $animation-time-lg;
        background-color: $primary;
    }
    &_sm {
		padding: 2rem;
    }
    .btn {
        font-style: normal;
    }
}

.card-title {
    &_product {
        font-size: 0.875rem;
        text-align: center;
        color: white;
        margin-bottom: 0;
    }
}

.card-price {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}



@import "card-mediaqueries";