<aside class="aside-menu">
	<h3 class="aside-menu__caption">Разделы</h3>
	<ul class="aside-menu__list">
		<li class="aside-menu__itm">
			<span class="aside-menu__link active">Купюроприемники</span>
		</li>
		<li class="aside-menu__itm">
			<a href="#" class="aside-menu__link">Термопринтеры</a>
		</li>
		<li class="aside-menu__itm">
			<a href="#" class="aside-menu__link">Диспенсеры</a>
		</li>
		<li class="aside-menu__itm">
			<a href="#" class="aside-menu__link">GPRS модемы</a>
		</li>
		<li class="aside-menu__itm">
			<span class="aside-menu__link">Купюроприемники</span>
		</li>
		<li class="aside-menu__itm">
			<a href="#" class="aside-menu__link">Термопринтеры</a>
		</li>
		<li class="aside-menu__itm">
			<a href="#" class="aside-menu__link">Диспенсеры</a>
		</li>
		<li class="aside-menu__itm">
			<a href="#" class="aside-menu__link">GPRS модемы</a>
		</li>
	</ul>
</aside>