@media (max-width: $screen-width-lg) {
	.feedback-box {
		padding: 3rem 1.75rem 1.5rem 1.75rem;
	}
}
@media (max-width: $screen-width-sm) {
	.feedback-box {
		&__part {
			&_left {
				width: 40%
			}
			&_right {
				width: 60%
			}
		}
	}
}

@media (max-width: $screen-width-xs) {
	.feedback-box {
		flex-direction: column;
		&__part {
			align-items: center;
			&_left {
				padding-right: 0;
				width: 100%
			}
			&_right {
				padding-left: 0;
				width: 100%
			}
		}
	}
}