.feedback-box {
	display: flex;
	padding: 3rem 4rem 1.5rem 1.75rem;
	background-color: $primary-lighten-bg;
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: 20px;
	&__part {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 50%;
		&_left {
			padding-right: 15px;
		}
		&_right {
			padding-left: 15px;
		}
	}
	&__text {
		font-size: 1.125rem;
		display: inline-block;
		margin-bottom: 2.25rem;
		&_color {
			color: $primary;
		}
	}
	
}

@import "feedback-box-mediaqueries";