.seller-contacts {
	padding: 1.75rem 2rem 0.5rem 2rem;
	border: 3px solid $primary;
	border-radius: 26px;
	position: relative;
	max-width: 348px;
	&__caption {
		position: absolute;
		top: -15px;
		left: 18px;
		font-size: 0.875rem;
		background-color: white;
		padding: 5px 10px;
	}
	&__list {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
	}
	&__itm {
		margin-bottom: 0.875rem;
	}
	&__text {
		color: $text-color-grey;
		font-size: 1.125rem;
		&_name {
			
		}
		&_link {

		}
	}
}

