<section class="section section_xs section_bg_primary-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-feedback">
                    <h2 class="section-feedback__caption">Подпишитесь на рассылку полезных материалов</h2>
                    <form name="mailing" class="section-feedback__form" action="feedback.php" method="post">
                        <input name="customerDataMail" class="section-feedback__input" type="text" placeholder="Ваш email" required>
                        <button type="submit" class="btn btn-white">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>