
.slider-items {
	max-width: 1352px;
	width: 100%;
	margin: auto;
	&__content {
		max-width: 84.4%;
		margin: auto;
	}
}
.slider-itm  {
	padding: $slider-itm-space-x $slider-itm-space-y;
}
.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../img/ajax-loader.gif") center center no-repeat;
    }
}

.slick-prev,
.slick-next {
	width: $slider-arrow-width;
	height: $slider-arrow-height;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
    &:hover, &:focus {
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
      
    }
}

.slick-prev {
    left: -100px;
    background-image: $slider-arrow-img-prev;
    &:hover, &:focus {
        background-image: $slider-arrow-img-prev;
    }
}

.slick-next {
    right: -100px;
   	background-image: url(../img/slider-arrow-next.png);
    &:hover, &:focus {
        background-image: url(../img/slider-arrow-next.png);
    }
}
