<div class="consultation consultation_sm" style="background-image: url(img/index-bg-img-1.png);">
    <h2 class="consultation-caption">
        <span class="consultation-caption__text consultation-caption__text_first">Есть вопросы или проблемы с платежными терминалами?</span>
        <span class="consultation-caption__text consultation-caption__text_second">Получите юридическую консультацию у наших специалистов</span>
    </h2>
    <button type="button" class="btn btn_xs btn-primary" data-toggle="modal" data-target="#modalFeedback">Получить консультацию</button>
</div>