@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad-pro/MyriadPro-SemiboldIt.eot');
    src: url('../fonts/myriad-pro/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad-pro/MyriadPro-SemiboldIt.woff2') format('woff2'),
        url('../fonts/myriad-pro/MyriadPro-SemiboldIt.woff') format('woff'),
        url('../fonts/myriad-pro/MyriadPro-SemiboldIt.ttf') format('truetype'),
        url('../fonts/myriad-pro/MyriadPro-SemiboldIt.svg#MyriadPro-SemiboldIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad-pro/MyriadPro-Bold.eot');
    src: url('../fonts/myriad-pro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad-pro/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/myriad-pro/MyriadPro-Bold.woff') format('woff'),
        url('../fonts/myriad-pro/MyriadPro-Bold.ttf') format('truetype'),
        url('../fonts/myriad-pro/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad-pro/MyriadPro-BoldIt.eot');
    src: url('../fonts/myriad-pro/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad-pro/MyriadPro-BoldIt.woff2') format('woff2'),
        url('../fonts/myriad-pro/MyriadPro-BoldIt.woff') format('woff'),
        url('../fonts/myriad-pro/MyriadPro-BoldIt.ttf') format('truetype'),
        url('../fonts/myriad-pro/MyriadPro-BoldIt.svg#MyriadPro-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad-pro/MyriadPro-Light.eot');
    src: url('../fonts/myriad-pro/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad-pro/MyriadPro-Light.woff2') format('woff2'),
        url('../fonts/myriad-pro/MyriadPro-Light.woff') format('woff'),
        url('../fonts/myriad-pro/MyriadPro-Light.ttf') format('truetype'),
        url('../fonts/myriad-pro/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad-pro/MyriadPro-Regular.eot');
    src: url('../fonts/myriad-pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad-pro/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/myriad-pro/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/myriad-pro/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/myriad-pro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad-pro/MyriadPro-Semibold.eot');
    src: url('../fonts/myriad-pro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad-pro/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/myriad-pro/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/myriad-pro/MyriadPro-Semibold.ttf') format('truetype'),
        url('../fonts/myriad-pro/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad-pro/MyriadPro-It.eot');
    src: url('../fonts/myriad-pro/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad-pro/MyriadPro-It.woff2') format('woff2'),
        url('../fonts/myriad-pro/MyriadPro-It.woff') format('woff'),
        url('../fonts/myriad-pro/MyriadPro-It.ttf') format('truetype'),
        url('../fonts/myriad-pro/MyriadPro-It.svg#MyriadPro-It') format('svg');
    font-weight: normal;
    font-style: italic;
}