.header-navbar {
	background-color: $header-navbar-bg;
	.nav-link {
		font-size: 1rem;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		transition: $animation-time-sm;
		&:hover, &:focus {
			background-color: $primary-hover;
		}
	}
}

.navbar-toggler-icon {
	background-image: url(../img/sprite.png);
	background-size: auto;
	background-position: -69px 3px;
}

.header-search {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	&__input {
		max-width: 480px;
		width: 100%;
		font-style: italic;
		font-weight: normal;
		font-size: 0.875rem;
		border: 1px solid $primary;
		padding: 0.625rem 3.125rem 0.75rem 1.875rem;
		border-radius: 30px;
	    transition: $animation-time-md;
	    &:hover {
	    	background-color: $primary-lighten-bg;
	    }
	    &:focus {
	    	outline: none;
	    	border-color: $primary-hover;
	    	background-color: $primary-lighten-bg;
	    }
	}
	&__icon {
		position: absolute;
		top: 6px; 
		right: 24px;
	}
}


.header-entry {
	color: $primary;
	display: flex;
	align-items: center;
	.icon {
		margin-right: 1.125rem;
	}
	&__link {
		margin-right: 3px;
		text-decoration: underline;
		& + & {
			margin-right: 0;
			margin-left: 3px;
		}
	}
}

@import "header-mediaqueries";