@media (max-width: $screen-width-lg) {
	.header-navbar {
		background-color: lighten($primary,100%);
	}
}
@media (max-width: $screen-width-sm) {
	.header-search {
		&__input {
			max-width: none;
		}
	}
}

@media (max-width: $screen-width-sm) {
	.heder-container-xs {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 450px) {
	.header-entry .icon {
		display: none;
	}
}