.main-banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 3.75rem;
	padding-bottom: 6rem;
	outline: none;
	&__caption {
		font-size: 3rem;
		line-height: 1.2;
		margin-bottom: 2rem;
	}
	&__content {
		padding-left: 36px;
	}
	&__text {
		font-size: 1rem;
		color: $primary;
	}
}

@import "main-banner-mediaqueries";