<header class="header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-3">
				<a href="/" class="header-logo">
					<img src="img/header-logo.png" alt="Терминал инфо" class="header-logo__img img-fluid">
				</a>
			</div>
			<div class="col-md-6">
				<form name="search" action="search.php" class="header-search">
					<input name="searchQuery" type="text" class="header-search__input" placeholder="Поиск по сайту">
				</form>
			</div>
			<div class="col-md-3">
				<div class="header-entry float-md-right">
					<a href="#" class="header-entry__link header-entry__link_enter">Вход</a>
					/
					<a href="#" class="header-entry__link header-entry__link_enter">Регистрация</a>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg header-navbar">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
			</button>
		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Каталог запчастей</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Юридическая консультация</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Услуги</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Новости</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">О проекте</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Контакты</a>
			      </li>
			    </ul>
		  	</div>
		</div>
	</nav>
</header>