<div class="card card-news card-news_md">
	<div class="card-img card-img_news">
		<img src="img/news-img-sm.jpg" class="card-img-top" alt="Платежный терминал">
	</div>
	<div class="card-body card-body_news">
		<h5 class="card-title card-title_news">Рязань планирует к 10 марта установить терминалы оплаты во всех МФЦ</h5>
		<p class="card-news__text">
			К 10 марта в Рязани и области планируется установка платежных терминалов в полном объеме. Об этом сообщает рязанское минэкономразвития в четверг, 5 марта.
		</p>
		<a href="#" class="btn btn_sm btn-secondary">Читать далее</a>
	</div>
</div>