.modal-header {
	justify-content: center;
	position: relative;
	padding-right: 2rem;
	.close {
		right: 1rem;
		top: 1rem;
		position: absolute;
	}
}
.modal-title {
    font-size: 1.625rem;
    text-align: center;
}
.modal-footer {
	justify-content: center;
}

.modal-feedback {

}

.modal-body {
	padding-bottom: 0;
}

